@viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%; }

body {
  /* background-image: url("defaultbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
  background-color: #171717;
  /* background-size:400%, 400%; */
  display: table;
  width: 100%;
  height: 100%;
  color: #000;
  line-height: 1.6;
  position: relative;
  background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%); /* #2b3847 */
  overflow: hidden;
  -webkit-mask-image: url(http://inovi.link/maskimg.png); mask-image: url(http://inovi.link/maskimg.png);
  -webkit-mask-position: center center; mask-position: center center;
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
  -webkit-mask-size: auto auto; mask-size: auto auto;
}

img {
  max-width:100%;
  height:auto;
  width:auto;
}

h1 {
  background-color: #e3d598;
  color: #fffeed;
  text-align: center;
}

p {
  font-family: "MONOFUR", "MS Gothic", Gothic, sans-serif;
  font-size: 12px;
  color: #222222;
  text-align: left;
}

code {
  background-color: rgb(210, 255, 177);
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: rgb(210, 255, 57);
  font-family: "MONOFUR", "PROFONT", "MONACO", Courier, sans-serif;
  font-size: 12px;
  font-style: italic;
}

.bgmask {
  -webkit-mask-image: url(http://inovi.link/maskimg.png); mask-image: url(http://inovi.link/maskimg.png);
  -webkit-mask-position: center center; mask-position: center center;
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
  -webkit-mask-size: auto auto; mask-size: auto auto;
}

.sunset {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, #040017, #3a054d, #ffa600);
    /* background-size: 400%, 400%; */
    position: center, center;
    overflow: hidden;
}


.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  -webkit-transform: skew(-70deg); transform: skew(-70deg);
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%; }
  .line:nth-child(1)::after {
    animation-delay: 2s; }
.line:nth-child(3) {
  margin-left: 25%; }
  .line:nth-child(3)::after {
    animation-delay: 2.5s; }

@keyframes drop {
  0% { top: -50%; }
  100% { top: 110%; }
}

